*
{
    transition: all .2s ease-in-out!important;
}
.dualbuttongroup {
    display: flex;
    gap: 2px;
    height: 40px;
    width: 100%;
    overflow: hidden;
    padding: 0 !important;
    padding-left: 0 !important;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;


    .btn_dual {
        border: 0;
        margin: 0 !important;
        background-color: var(--bg_azul_insti);
        color: white;
        padding-left: 8px !important;
        height: 40px !important;
        width: 100% !important;
        text-align: center;
        display: flex;
       gap: 5px;
        align-items: center;
    }
    .btn_dual.evo_active{
        background-color: red;
    }
   .paddingSolo{
        padding-left: 24px!important;
    }
}

& button:hover {
    background-color: gray !important;
    color: white !important
}

.toggleTitle {
    display: none;
    text-align: center;
}


.toggle-btn {
    display: flex;
}
.btn_hide{
    display: none!important;
}