.salaEspera {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    box-shadow: -150px 0 1000px 10050px rgba(0, 0, 0, 0.555);
    overflow: hidden;
    border: solid 2px var(--bg_azul_insti);
    background-color: white;
    position: fixed;
    right: -25%;
    top: 0px;
    z-index: 1000;
    border-radius: 14px;
    opacity: 0;
    transition: all .2s ease-in-out;
    padding-bottom: 14px;

}
.filtrosEspera{
    height: auto;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    box-shadow: 0 2px 15px -5px rgba(99, 99, 99, 0.568);
    
    .itemFiltro{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        flex: 0 0 calc(50% - 5px);
        border: solid 3px;
        padding: 0 5px;
        border-radius: 8px;
        font-size: .8em!important;
        font-weight: 700;
        cursor: pointer;
        

        .countFiltros{
            color:white;
            background-color: rgb(66, 66, 66);
            padding: 0 5px;
            border-radius: 5px;
        }
    }

    .pend{border-color: #ee3d66;}
    .atend{border-color:#78a8b2;}
    .consul{border-color:#2c71bc;}
    .espera{border-color: green;}
    .sinresp{border-color: orange;}
    .hist{border-color: pink;}
    .total{border-color: gray;}
}


.se_title {
    position: sticky;
    top: 0;
    font-family: var(--roboto-F);
    width: 100%;
    padding: 4px 10px;
    background-color: var(--bg_azul_insti);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-close {
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill-color='white' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
    }

    i {
        transition: all .3s ease-in-out;
        border: none !important;
        background-color: none !important;
        cursor: pointer;
        color: white !important;
    }
}

.cardsEspera {
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 14px;
    gap: 20px;
    transition: all .4s ease-in-out;
    overflow-y: scroll;
    

    .itemEspera {
        flex: 0 0 auto !important;
        height: auto !important;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        border: solid 3px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        z-index: 0;

        .fila {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
        .datosTurno{
            display: flex;
            flex-direction: column;
        }

        .pacienteCardEsp {
            /* line-height: 20px; */
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            box-sizing: border-box;

            span {
                font-size: 14pt !important;

            }
        }

    }

    .urgente {
        box-shadow: 0 0 8px -3px rgba(168, 30, 30, 0.712);
        border-color: red;
    }

    .normal {
        border-color: rgb(13, 168, 73);
    }
}



.expand_salaEsp {
    width: 100% !important;


    .cardsEspera {
        /* display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        align-content: flex-start; */

        .itemEspera {
             flex: 0 0 auto !important;

            .datosTurno{
                flex-direction: row;
                gap: 20px;

                .fila{
                    justify-content: flex-start;
                    gap: 20px;
                }
            }
        }
        /* 
        flex.wrap activado
        
        .itemEspera {
            flex: 0 0 calc(25% - 10px) !important;
           
       } */

    }

}

.salaEspera.expand_salaEsp .se_title i {
    transform: rotate(180deg);
}
.salaEspera.expand_salaEsp .itemFiltro {
    flex: 0 0 calc(12.5% - 10px);
}