#tableLaboratorio thead {
    & th, & td

{
    box-sizing: border-box !important;
    width: auto;
    padding: 5px 15px !important;
    
}


& th:nth-child(1) {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 91px !important;
    width: 89px !important;
    position: sticky;
    left: 0px;
    backdrop-filter: blur(15px);
 
}

& th:nth-child(2) {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 60px !important;
    width: 60px !important;
    position: sticky;
    left: 89px;
    backdrop-filter: blur(15px);
}

& th:nth-child(3) {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 60px !important;
    width: 60px !important;
    position: sticky;
    left: 152px;
    backdrop-filter: blur(15px);
}

& th:nth-child(4) {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 71px !important;
    width: 71px !important;
    position: sticky;
    left: 220px;
    backdrop-filter: blur(15px);
}

}

#tableLaboratorio tbody {
    & td:nth-child(1)

{
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 88px !important;
    width: 88px !important;
    position: sticky;
    left: 0px;
    backdrop-filter: blur(15px);
}

& td:nth-child(2) {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 60px !important;
    width: 60px !important;
    position: sticky;
    left: 89px;
    backdrop-filter: blur(15px);
}

& td:nth-child(3) {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 60px !important;
    width: 60px !important;
    position: sticky;
    left: 152px;
    backdrop-filter: blur(15px);
}

& td:nth-child(4) {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 71px !important;
    width: 71px !important;
    position: sticky;
    left: 220px;
    backdrop-filter: blur(15px);
}
}
