    * {
        margin: 0;
        box-sizing: border-box !important;
        padding: 0;
        font-size: 0.97em !important;


    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        width: 100vw !important;
        margin: 0 !important;
        margin: auto !important;
        padding: 0 !important;




        box-sizing: border-box !important;
    }

    :root {
        --bg_azul_insti: rgb(61, 76, 190);
        --cuerpo: rgb(234, 234, 234);
        --nav: red;
        --ancho90: 100% !important;
    }

    .azulinsti {
        background-color: var(--bg_azul_insti) !important;
        color: white !important;
        padding: 0 10px;
    }

    .flex-end {
        display: flex;
        justify-content: flex-end;
    }

    .w50 {
        width: 45% !important;
        flex: 1 0 45%;
    }

    .w20 {
        width: 20% !important;
        flex-basis: 20%;
        flex: 1 0 20%;
    }

    .w30 {
        width: 35% !important;
        flex: 1 0 35%;
    }

    .gp10 {
        gap: 10px !important;
    }

    a {
        text-decoration: none !important;
        color: rgb(65, 65, 65);
    }

    header {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0 10px !important;
        box-sizing: border-box;

    }

    .mbot {
        /* position: sticky;
        top: 0px; */
        background-color: var(--cuerpo);
        width: var(--ancho90);
        flex: 0 0 var(--ancho90);
        margin: auto;
        margin-bottom: 0 !important;
        z-index: 2;
    }

    .navStick {
        width: var(--ancho90);
        margin: auto;
        transition: all 0.3s ease-in-out;
        padding: 0 10px !important;
        box-shadow: 0px 10px 15px -13px rgba(0, 0, 0, 0.141);
        box-sizing: border-box !important;
        display: flex;
    }

    .bgalerta {
        border-top: none;
        border-left: solid 1px gray !important;
        border-right: solid 1px gray !important;
        padding: 14px !important;
    }

    .btn-gris {
        background-color: rgb(200, 200, 200);
    }

    .btn-gris:active {
        transform: translateY(1px);
        background-color: rgb(158, 158, 158);
        color: rgb(0, 0, 0);
    }

    .btn-gris:hover {
        box-shadow: 0px 5px 15px -13px rgba(0, 0, 0, 0.378);
    }



    .cen_vert {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .spbt {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
    }

    .xspbt {
        display: flex;

        justify-content: space-between !important;
    }

    .spa {
        display: flex;
        justify-content: space-around !important;
    }

    .h60 {
        height: 50px !important;
    }

    .h100 {
        height: 100%;
    }

    .ovh {
        overflow: hidden;
    }

    .pd10 {
        padding: 10px;
    }

    .pl10 {
        padding: 5px 10px 0 10px;
    }

    /* COLORES */

    .gris {
        color: gray !important;
    }

    .azul {
        color: var(--bg_azul_insti) !important
    }

    .bgazul,
    .bgazul:focus {
        background-color: var(--bg_azul_insti) !important
    }

    .cuerpo {
        background-color: var(--cuerpo) !important;
    }



    .gris_active {
        color: gray;
        font-weight: 700;
    }

    .perfil_circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
        margin: 4px;

    }

    .divider_vert {
        background-color: var(--bg_azul_insti);
        height: 100%;
        flex: 0 0 2px;
        margin-left: 4px;
    }

    .divider-gradient {
        position: sticky;
        top: 45px;
        z-index: 1;
        height: 3px;
        width: 100% !important;
        background: linear-gradient(90deg, var(--cuerpo) 0%, var(--bg_azul_insti) 50%, var(--cuerpo) 100%);
        margin-top: 0 !important;
    }

    .user_bar {
        height: 100px !important;
        background-color: var(--bg_azul_insti);
    }

    .perfil_user {
        height: 60px !important;
        width: 60px !important;
        border-radius: 50%;
        background-color: var(--bg_azul_insti);
        color: white;
        font-size: 2em;
        text-align: center;
        line-height: 58px;
    }

    #logo {
        height: 70px;
    }

    .data_user {
        display: flex;
        flex-direction: column;

        & span {
            font-size: .85em;
        }
    }

    .paciente {
        font-size: 1em !important;
        font-weight: 700;
        color: var(--bg_azul_insti);
    }

    .add {
        margin: 0px 10px;
        border-radius: 1em;
        padding: 2px 10px;
        font-size: .8em;
        border: 0;
        outline: 0;
        background-color: rgb(212, 212, 212);
    }

    .add:hover {
        box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.76);
    }

    .add:active {
        background-color: var(--cuerpo);
    }

    .tag_alerta {
        border-radius: 1em;
        padding: 2px 10px;
        font-size: 1em;
        border: 0;
        outline: 0;
        background-color: rgb(212, 212, 212);
    }

    .alert1 {
        background-color: rgba(227, 116, 116, 0.887);
        color: white;
    }

    .alert2 {
        background-color: rgb(237, 206, 129);
        color: rgb(47, 47, 47);
    }

    .alert3 {
        background-color: rgba(255, 249, 72, 0.748);
        color: rgb(47, 47, 47);
    }

    .tab_body {
        /* border: solid 2px var(--bg_azul_insti); */
        background-color: white;
    }


    .menuStick {
        z-index: 0;
        position: relative;
        display: flex;
        width: var(--ancho90);
        flex: 1;
        padding: 0 !important;
        margin: auto;
        transition: all .1s ease-in-out !important;


    }

    .nav-link {

        /* transition: all .5s ease-in-out !important; */
        padding: 5px 12px !important;



    }

    .menulateral {
        flex: 0 0 40px !important;
        width: 50px !important;

        transition: all 0.15s ease-in !important;
        z-index: 1;

        & button {
            display: flex !important;
            align-items: center;
            justify-content: flex start space-between !important;
            /* padding-right: 35px; */
            padding-left: 5px;

        }

        & button:nth-child(1),
        & button:nth-child(2) {
            padding-right: 10px;
        }

        & button:nth-child(2),
        & button:nth-child(1) {
            background-color: white;
            color: rgb(50, 58, 113);
            margin-bottom: 5px;
            border: solid 2px rgb(50, 58, 113);

            & a {
                color: rgb(50, 58, 113) !important;
            }
        }

        & button:nth-child(2):active,
        & button:nth-child(2):focus {
            border: solid 2px white;

            & a {
                color: white !important;
            }
        }
    }

    span.toggleTitle {
        width: 0%;
        overflow: hidden !important;
        transition: all 200ms ease-in !important;
        opacity: 0;
        text-align: left;
        padding-left: 5px;
        transform: translateX(-40px);

    }


    .menulateral:hover {
        flex: 0 0 auto !important;
        width: 160px !important;

        & span {
            width: 100%;
            opacity: 1;
            transform: translateX(0);
            margin-left: 5px !important;

        }
    }



    .fullbody {
        /* height: calc(75vh - 15px) !important; */
        border-radius: 14px 0 0 0;
        /* border: solid 2px var(--bg_azul_insti); */
        flex: 1;
        display: flex;
        gap: 20px !important;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
    }

    .hijofullbody {
        display: grid;
        text-align: center;
        place-content: center;
        flex: 1 0 auto !important;
        width: 100%;
        min-height: 200px;

        font-size: 20pt;
        box-sizing: border-box !important;

    }

    .hijofullbody:last-child {
        margin-bottom: 20px;
    }

    .divider-white {
        height: 10px !important;
        width: 100% !important;
    }

    .hidescroll {
        display: none !important;
    }

    .ovfsc {
        overflow-y: scroll;
    }







    @keyframes collapsenav {
        0% {
            height: 100px;
            background-color: red;
        }

        20% {
            height: 50px;
            background-color: aqua;
            top: 52px;
        }

        100% {
            height: 50px;
            background-color: bisque;
            top: 52px;
        }
    }


    .fila {
        position: sticky;
        display: flex;
        top: 53px;
        width: 100%;
        flex-basis: 100%;
        overflow: hidden;

        animation-timeline: --nav;
        animation-name: collapsenav;

        animation: collapsenav auto linear forwards;
        animation-timeline: scroll(root block);
    }

    @keyframes ocultarDatos {
        0% {
            display: block !important;

        }

        20% {
            display: none !important;
            background-color: yellow;
        }

        100% {
            display: none !important;
        }
    }

    .hidesc>span {
        animation-timeline: --nakv;
        animation-name: ocultarDatos;

        animation: ocultarDatos auto linear forwards;
        animation-timeline: scroll(root block);

    }



    /* ------FIN ANIMACION-------- */

  


    .futer {
        width: 100%;
        height: 140px;
        line-height: 140px;
        background-color: rgba(128, 128, 128, 0.176);

        display: grid;
        place-items: center;

        & h4 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
            color: lightcoral;
        }
    }


    .breadcrumb li:last-child {
        color: white !important;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }



    /* ---------TARJETA------------- */
    .cardEvo {
        padding: 3px 5px 3px 8px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        gap: 5px;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 0 10px -7px black;

    }

    .diagnos {
        flex: 1;
        text-align: left;
    }

    /* .cardEvo .spbt:nth-child(1) h5{
    font-size: 1.1em!important;
    font-weight: 700!important;
}
.cardEvo .spbt:nth-child(3) h5{
    font-size: 1em!important;
    font-weight: 700!important;
} */
    .br_alert {
        border-left: solid 5px rgb(255, 196, 0) !important;
    }

    .br_ok {
        border-left: solid 5px var(--bg_azul_insti) !important;
    }

    .br_danger {
        border-left: solid 5px rgb(214, 104, 104) !important;
    }

    .mbot button.btn {
        color: white !important;
    }

    /* ---------------contenedor_anulado------------- */
    .anulado {
        box-sizing: border-box;
        position: absolute;
        display: grid;
        place-items: center;        
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        font-size: 7em !important;
        color: #35353559;
        /* background-color: red; */
       
    }
    .anulado::before{
        content: 'ANULADO';
        position: absolute;
        font-style: italic;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transform: rotate(-25deg);

    }

    .anulado i {
        text-shadow: #35353559;

    }





    @media screen and (max-width:1600px) {

        .pingas {
            font-size: 10pt;
        }
    }

    /* animacion NAV */
    @media screen and (max-width:1368px) {

        .pingas {
            font-size: 20pt;
        }

        .paciente {
            font-size: .9em !important;
        }

        .botonera {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            & .btn {
                font-size: .8rem !important;
            }
        }
    }